/*new style after adding material design*/
.truncate-card-title{
    display: block;
     display: -webkit-box;
     /*max-width: 400px;*/
     height: 37px; /*$font-size*$line-height*$lines-to-show; */
     margin: 0 auto;
     font-size: 13px; /*$font-size;*/
     line-height: 1.4; /*$line-height;*/
     -webkit-line-clamp: 2; /*$lines-to-show;*/
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
}
.button-fab {
    position: absolute;
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px;
}
.divider{
    padding: 0 0 5px 0;
    border-bottom: 1px solid #E0DBDB;
}
.center{
text-align:center
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed,
 .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-center{
    text-align:center;
    padding:5px;
    color:black;
    text-transform: capitalize;
    text-decoration: none;
    margin:5px;
    font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    /* letter-spacing: 1px; */
    word-spacing: 2px;
}
.fullscreenDiv {
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
/*.center {
    position: absolute;
    border: 1px solid blue;
    width: 100px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px;
}*/

.flex-offset-3{
        margin-left: 3%;
}
    .course-img {
      display: block;
      max-height:95px;
      width: auto;
      height: auto;
    }

    .title-old {
      width: 100%;
      border: 1px solid #000000;
      word-break: keep-all;
      /*padding:10px;*/
    }

    .fixed-top{
        padding-top:57px;
    }

    @media only screen and (max-width: 749px) {
      .course-img {
        display: block;
        max-width:230px;
        max-height:95px;
        width: auto;
        height: auto;
    }
    }
.pt{
 margin:10px;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}
.truncate{

display:block;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
.block-ellipsis {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 21px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
 .timer-hidden{
      /*actual visibility: hidden;*/
      visibility: visible;
    }
    .bottom-toolbar{
      position:fixed;
      left:0px;
      bottom:0px;
    }
.date-time{
    color:gray;
    font-size:12px;
}
.discussion-title{
    padding:4px;
    font-weight:600;
}
.dynimg{
    background-color:pink;
    min-height:30px;
}
/*.module {
  width: 250px;
  margin: 0 0 1em 0;
  overflow: hidden;
}
.module span {
  margin: 0;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}*/
.active-page{
    display:block;
}
.disabled-page{
    display:none;
}

.icon-round {
    font-size: 20px;
    border-radius: 50%;
    padding: 5px 9px;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.icon-bg-positive {
    background: #387ef5;
}


.icon-bg-calm {
    background: #11c1f3;
}

.color-calm {
    color: #11c1f3;
}

.icon-bg-balanced {
  background:  #33cd5f;
}

.icon-bg-energized {
  background:  #33cd5f;
}

.icon-bg-assertive {
  background:  #ef473a;
}

.icon-bg-royal {
  background:  #886aea;
}
.z-index-100 {
  z-index:  100;
}
.margin-left-12 {
  margin-left : 12px; 
}

.margin-top-12 {
  margin-top : 12px; 
}

.margin-right-12 {
  margin-right : 12px; 
}

.pointer {
    cursor: pointer;
}

.icon-bg-dark {
   background: #000;
   opacity: .6;
}

.icon-round-lg {
    font-size: 24px;
    border-radius: 50%;
    padding: 8px 14px;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.icon-round-xl {
    font-size: 35px;
    border-radius: 50%;
    padding: 8px 14px;
    color: white;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.icon-lg-grey {
    font-size: 20px;
    color: #AAA;
}

.responsive-video {
    height: 0;
    padding-top: 1px;
    position: relative;
    padding-bottom: 56.25%;
}

.responsive-video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.scroll {
  width: 100%;
}

.img-responsive {
  width :100%;
  height: auto;
}

.embed-container {
    position: relative;
}

.embed-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}



.cld-omd .item{
  border-bottom: none;
}

.cld-omd .omb-ques .omb-ques-option:last-of-type .item{
  border-bottom: 1px solid #ccc; 
}



.cld-omd{
    padding: 8%;
}

.icon-flat-round{
    font-size: 20px;
    border-radius: 50%;
    padding: 2px 2px;
}

.checkbox-balanced-custom input:before, .checkbox-balanced-custom .checkbox-icon:before {
    border-color: #33cd5f;
    background-color: #33cd5f;
}
.popover-ombook {
    height: 100% !important;
    top:0 !important;
    margin:0 !important;
}

.has-error {
    border-bottom: 2px solid rgb(189, 63, 66);
}

.social-btn {
  text-align:center;
  margin-top: 15px;
}

.full-height{
    height:100%;
}
.correct{
    color:green !important;
}
.incorrect{
    color:red !important;
}
.match_type{
    border-width:1px;
    border-color: #ddd;
    border-style: solid;
}
.match_type .list{
    margin-bottom:0px;
}
.match_type .item{
    border-width:0px;
}
.match_type .option.item{
    border-color:none;
    padding:0px;
    border-width:0px;
    padding:2px;
}
@media (min-width: 500px) and (max-width: 700px){
    .col-40-tablet {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}
@media (min-width: 700px) {
    .col-40-tablet {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 30%;
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 25%;
    }
    .col-25-tablet {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 0%;
        -moz-box-flex: 0;
        -moz-flex: 0 0 10%;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
/*.web-container {
    position: relative;
    padding-bottom: 140%;
    height: 0;
    overflow: hidden;
}
.web-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


.multiline-list .list .item-content {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
}

.users{
    background-image: url('js/image/teal_background.jpg');
    /*height:15vh;*/
    background-size: 100%;
}
.bottom-margin{
    margin-bottom:1px;
}
.current{
    background-color:rgba(128, 128, 128, 0.28);
}
/*.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: rgba(156, 151, 151, 0.11);
}*/
.background, .background .app-bg, .background .user-profile{
  // background-color: #F1F1F1;
   //background-color: #F0F0F0;
}
.home-heading{
    min-height:initial;
    line-height:initial;
}
.bar.bar-app {
    border-color: #212121;
    background-color: $app;
    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    color: #fff; }

.app-container{
    margin: 12px 12px 0px;
}
.card-menu-list .card-menu:first-child{
    margin-left:12px;
}
.card-menu-list .card-menu:last-child{
    margin-right:12px;
}
.card-menu-list .card-menu{
    margin:0px 5px;
}
.sub-header-home{
    min-height:35px;
    min-width:52px;
    width:100%;
    line-height:30px;
    border-color:transparent;
    background-color:#9E9E9E;
    color:white;
    text-align:center;
    text-overflow:ellipsis;
    font-size:13px;
    padding:2px;
    display:block;
}
.course .item{
    font-size:14px;
}
.capitalize-header{
     text-transform:uppercase;
}
.font-icon::after{
    content: ' ';
    padding-right:10px;
}
.users h2{
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 2px 0;
    font-size: 16px;
    font-weight: normal;
}
.user-block{
    top: 8%;
    position: absolute;
}
.user-text{
    color:white;
}
.bar.bar-royal {
    border-color: #133B3B;
    color: #fff;
}
.enroll{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}