<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=yes, width=device-width">
    <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1.5, user-scalable=1">-->
    <title>Cloodon</title>


    <!-- compiled css output -->
    <link rel="stylesheet" type="text/css" href="js/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href="css/ionic.app.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <style>
      .users{
        background-image: url('js/image/teal_background.jpg');
        background-size: 100%;
      }
    </style>
  </head>

  <body ng-app="mainApp">
    <input type="hidden" id="assessment_id" value="">
    <input type="hidden" id="assessment_status" value="">
    <input type="hidden" id="response" value="">

    <div ng-controller="MyController">
      <!--
        The nav bar that will be updated as we navigate between views.
      -->
      <ion-nav-bar class="bar-royal">
        <!--<ion-nav-back-button>-->
        <!--</ion-nav-back-button>-->
        <ion-nav-back-button class="button-clear" ng-click="AppBack()">
          <i class="ion-arrow-left-c icon"></i>
        </ion-nav-back-button>
      </ion-nav-bar>

      <!--
        The views will be rendered in the <ion-nav-view> directive below
        Templates are in the /templates folder (but you could also
        have templates inline in this html file if you'd like).
      -->
      <ion-nav-view class="background"></ion-nav-view>
    </div>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ng-cordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="http://player.ooyala.com/v3/ODlmZDA4NjIyZmViMzQyM2QzZDMzZTlh?platform=html5" type="text/javascript"></script>
    <!--<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>-->
    <script type="text/javascript" src="js/youtubeapis.js"></script>
    <script src="js/embedcodes.js"></script>
    <script src="js/database.js"></script>
    <!--<script src="js/configjson.js"></script>-->
    <script src="js/netconnection.js"></script>
    <script src="js/initialize.js"></script>
    <script src="js/route.js"></script>
    <script src="js/controller/CustomerLoginController.js"></script>
    <script src="js/controller/LoginController.js"></script>
    <script src="js/controller/MyController.js"></script>
    <script src="js/controller/MyHomeController.js"></script>
    <script src="js/controller/RegisterController.js"></script>
    <script src="js/controller/CourseListController.js"></script>
    <script src="js/controller/CatalogCourseListController.js"></script>
    <script src="js/controller/CourseDetailController.js"></script>
    <script src="js/controller/CatalogCourseController.js"></script>
    <script src="js/controller/CreateDiscussionController.js"></script>
    <script src="js/controller/DiscussionDetailController.js"></script>
    <script src="js/controller/AssessmentIntroController.js"></script>
    <script src="js/controller/PreviewAssessmentController.js"></script>
    <script src="js/controller/OmBookController.js"></script>
    <script src="js/controller/GateOmbookController.js"></script>
    <script src="js/controller/EnrollmentController.js"></script>
    <script src="js/service/LoginService.js"></script>
    <script src="js/service/CourseDetailService.js"></script>
    <script src="js/service/CommonService.js"></script>
    <script src="js/service/CourseCatalogDetailService.js"></script>
    <script src="js/service/OmbookService.js"></script>
    <script src="js/service/AssessmentService.js"></script>
    <script src="js/controller/BrowseCourseController.js"></script>
  </body>
</html>
