<ion-view >
    <ion-content class="app-bg">
        <div class="app-container">
        <div class="list">
            <a class="item item-avatar" ng-repeat="data in assessment_list" ng-click="assessmentdetail(data.id)">
                <img ng-if="data.state =='Due' " class="ion-checkmark-circled">
                <img ng-if="data.state == 'Not Started'" class="ion-checkmark-circled">
                <img ng-if="data.state == 'Evaluated' " class="ion-checkmark-circled">
                <img ng-if="data.state == 'Missed' " class="ion-checkmark-circled">
                <img ng-if="data.state == 'In Progress' " class="ion-checkmark-circled">
                <img ng-if="data.state == 'Needs Evaluation' " class="ion-checkmark-circled">
                <h2>{{ data.title }}</h2>
                <p ng-if="data.state =='Due' || 'Evaluated' || 'Missed' || 'In Progress' || 'Needs Evaluation'"><i class="fa fa-clock-o"></i><span class="flex-offset-3">{{data.start_date}}</span></p>
                <p ng-if="data.state =='Not started' "><i class="fa fa-clock-o"></i><span class="flex-offset-3">{{data.end_date}}</span></p>
                <p ng-if="data.marks == 'N/A' "><i class="fa fa-star-o"></i><span class="flex-offset-3">Not Avaliable</span></p>
                <p ng-if="data.marks != 'N/A' "><i class="fa fa-star-o"></i><span class="flex-offset-3">{{data.marks}}/{{data.total_marks}}</span></p>
            </a>
        </div>
            </div>
    </ion-content>
</ion-view>