<ion-view view-title="{{title}}">
    <ion-content class="app-bg">
        <div class="app-container">
        <div class="list" style="margin-bottom:0px;">
            <a class="item item-button-right" ng-if="assess_details.state =='Due' && assess_details.is_supported == true ">
                <i class="fa fa-pencil fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive" ng-click="assessmentid(assess_details.id,assess_details.state)">Start</button>
            </a>
            <a class="item item-button-right" ng-if="assess_details.state == 'Not Started'">
                <i class="fa fa fa-lock fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive">Not Started</button>
            </a>
            <a class="item item-button-right" ng-if="assess_details.state == 'Evaluated' && assess_details.is_supported == true" >
                <i class="fa fa-check fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive" ng-click="assessmentid(assess_details.id,assess_details.state)">
                    View
                </button>
            </a>
            <a class="item item-button-right" ng-if="assess_details.state =='Missed' ">
                <i class="fa fa-ban fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive">Missed</button>
            </a>
            <a class="item item-button-right" ng-if="assess_details.state =='In Progress' && assess_details.is_supported == true">
                <i class="fa  fa-hourglass-half fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive" ng-click="assessmentid(assess_details.id,assess_details.state)">Resume</button>
            </a>
            <a class="item item-button-right"  ng-if="assess_details.state =='Needs Evaluation' && assess_details.is_supported == true">
                <i class="fa fa-question fa-lg"></i>
                {{assess_details.state}}
                <button class="button button-positive" ng-click="assessmentid(assess_details.id,assess_details.state)">View</button>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left row" href="#">
                <div class="col col-20">
                    <i class="icon ion-ios-calendar"></i>
                </div>
                <div class="col">
                    <h2>Starts On:</h2>
                    <p>{{ assess_details.start_date }}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#">
                <div class="col col-20">
                    <i class="icon ion-ios-calendar"></i>
                </div>
                <div class="col">
                   <h2>Ends On:</h2>
                <p>{{ assess_details.end_date }}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#" ng-if="assess_details.state == 'Evaluated'">
                <div class="col col-20">
                    <i class="icon ion-android-star-half"></i>
                </div>
                <div class="col">
                    <h2>Marks:</h2>
                    <p>{{assess_details.marks}}/{{assess_details.total_marks}}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#" ng-if="assess_details.state != 'Evaluated'">
                <div class="col col-20">
                    <i class="icon ion-android-star"></i>
                </div>
                <div class="col">
                    <h2>Total Marks:</h2>
                    <p>{{assess_details.total_marks}}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#" ng-if="assess_details.state != 'Evaluated' && assess_details['settings']['25'] != '' ">
                <div class="col col-20">
                    <i class="icon ion-ios-alarm"></i>
                </div>
                <div class="col">
                    <h2>Time limits:</h2>
                    <p>{{assess_details['settings']['25']}}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#" ng-if="assess_details.state == 'Evaluated' && assess_details.grade != null">
                <div class="col col-20">
                    <i class="icon ion-ribbon-b"></i>
                </div>
                <div class="col">
                    <h2>Grade:</h2>
                    <p>{{assess_details.grade}}</p>
                </div>
            </a>
            <a class="item item-icon-left row" href="#" ng-if="assess_details.state != 'Evaluated'">
                <div class="col col-20">
                    <i class="icon ion-clipboard"></i>
                </div>
                <div class="col">
                    <h2>Instruction:</h2>
                    <p ng-if='assess_details.instructions != ""' ng-bind-html="assess_details.instructions | to_trusted"></p>
                    <p ng-if='assess_details.instructions == ""'>No Instruction Avliable</p>
                </div>
            </a>
            <div class="card" ng-if="assess_details.is_supported == false">
                <div class="item item-text-wrap assertive">
                    Currently this assessment is not supported in app....
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>