<ion-view title="Featured Courses">
    <ion-content class="app-bg">
        <div  ng-repeat="catalog in browse_course['catalog_detail']" class="margin-top-12">
            <div ng-if="catalog['courses_listing'].length > 0">
                <div class="margin-left-12 margin-right-12">
                    <button class="button button-clear button-dark home-heading" ng-click="get_course(catalog)">{{catalog.name}}</button>
                    <button class="button button-clear pull-right button-dark home-heading" ng-click="get_course(catalog)" ng-if="catalog['courses_listing'].length > 2">See All</button>
                </div>
                <div class="row card-menu-list" style="overflow:auto;width:100%;">
                    <div ng-repeat="course in catalog['courses_listing']" class="list card col col-40 col-40-tablet card-menu" ng-if="$index < 10" ng-style="($index == 9 || $last) ? { 'margin-bottom':'0px'} : {  }">
                        <a ng-click="browse_caourse_detail(course)">
                            <div class="item item-image">
                                <img src="{{course.course_image}}" alt="Washed Out" onerror="myFunction(this)" style="min-height:100px; max-height:150px;">
                            </div>
                            <div class="truncate-card-title text-center">{{course.course_name}}</div>
                        </a>
                    </div>
                    <div style=""><p>&nbsp;</p></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

