<ion-view title="{{title}}">
    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
        <div class="tabs">
            <a class="tab-item" ng-class="{ active : settings.Tab1}" ng-click="tabbed('Tab1')">
                Overview
            </a>
            <a class="tab-item" ng-class="{ active :settings.Tab2}" ng-click="tabbed('Tab2')">
                Syllabus
            </a>
            <a class="tab-item" ng-class="{ active :settings.Tab3}" ng-click="tabbed('Tab3')" ng-if="course.prerequisites != null && course.prerequisites != ''">
                Requirements
            </a>
        </div>
        <ion-content style="margin-top:46px;" class="app-bg">
            <div  ng-if="settings.Tab1 == true">
                <div class="app-container">
                    <div class="card">
                        <div class="item item-text-wrap">
                             {{course.course_description | htmlToPlaintext}}
                        </div>
                    </div>
                    <!--<div ng-if="course.prerequisites != null && course.prerequisites != ''">-->
                        <!--<div class="card">-->
                            <!--<div class="item item-divider">-->
                                <!--Requirments-->
                            <!--</div>-->
                            <!--<div class="item item-text-wrap">-->
                                <!--<p ng-bind-html="course.prerequisites | to_trusted">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div ng-if="settings.Tab2 == true">
                <div class="app-container">
                    <div class="list course">
                        <div ng-repeat="topic in course.topic_subtopics">
                        <div class="item item-divider">
                            {{topic.topic}}
                        </div>
                        <div class="item" ng-repeat="subtopic in topic.subtopics">
                           {{subtopic}}
                        </div>
                            </div>
                    </div>
                    <!-- -->
                    <!-- -->
                    <!--<ul class="list">-->
                        <!--<li class="item" ng-repeat="topic in course.topics">-->
                            <!--{{ topic }}-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </div>
            <div  ng-if="settings.Tab3 == true">
                <div class="app-container">
                    <p ng-bind-html="course.prerequisites | to_trusted">
                    <div ng-if="course.prerequisites == null || course.prerequisites == ''">
                        <div class="card">
                            <div class="item item-text-wrap center">
                             There is no prerequisites for this couse.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div class="bar bar-footer bar-assertive">
        <div class="button-bar">
            <a class="button" ng-click="enroll(course.enroll_url)">
                <span class="capitalize-header enroll" >Enroll</span>
                <span ng-if="course.pricing == 0" style="font-size:12px;" class="pull-right">Free Course</span>
                <span ng-if="course.pricing != 0" style="font-size:12px;" class="pull-right">{{course.pricing}}</span>
            </a>
            <!--<button class="button button-full" ng-click="enroll(course.enroll_url)">-->
                <!--<span class="capitalize-header">Enroll</span>-->
                <!--<span ng-if="course.pricing == 0">Free Course</span>-->
                <!--<span ng-if="course.pricing != 0">{{course.pricing}}</span>-->
            <!--</button>-->
            <!--<a class="button capitalize-header" ng-click="enroll(course.enroll_url)" ng-if="course.pricing == 0">Free Course</a>-->
            <!--<a class="button capitalize-header" ng-click="enroll(course.enroll_url)" ng-if="course.pricing != 0">{{course.pricing}}</a>-->
            <!--<a class="button capitalize-header" ng-click="enroll(course.enroll_url)">Enroll</a>-->
        </div>
    </div>
</ion-view>
