<ion-view title="{{title}}">
    <ion-content class="app-bg">
        <div class="app-container">
        <div class="list">
            <a class="item item-thumbnail-left" ng-repeat="course in courses['courses_listing'] | filter:searchText " ng-click="course_detail(course)">
                <img src="{{course.course_image}}" onerror="myFunction(this)" alt="Washed Out">
                <h2>{{course.course_name}}</h2>
                <p ng-if="course.pricing != 0">{{course.pricing}}</p>
                <p ng-if="course.pricing == 0">Free course</p>
                <p class="item-text-wrap">{{course.course_description}}</p>
            </a>
        </div>
            </div>
    </ion-content>
</ion-view>

