<ion-view title="Login" hide-nav-bar="true">
    <ion-content class="app-bg">
        <div class="row row-center" style="margin-top:100px;">
            <div class="text-center" style="width:100%">
                <img src="img/cloodcn_logo.png" alt="">
            </div>
        </div>
        <div class="row" style="">
            <div class="col col-center">
                <div class="list list-inset">
                    <form ng-submit="submit()">
                        <label class="item item-input">
                            <input type="text" placeholder="Enter access code" class="text-center" name="customername" id="customername" ng-model="customer.code" required>
                        </label>
                        <div class="row row-center">
                            <div class="col text-center">
                                <label ng-show="error_msg != ''" style="color:rgb(189, 63, 66)">{{error_msg}}</label>
                            </div>
                        </div>
                        <button class="button button-block button-calm" type="submit">Next</button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>