<ion-view title="My Courses" >
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content class="app-bg">
        <div class="app-container">
            <div class="list" id="filter">
                <a class="item item-thumbnail-left"  ng-repeat="course in courses| filter:searchText as filteredcourse" ng-click="batchdetail(course.batch_id,course.name)">
                    <img src="{{course.tn}}" onerror="myFunction(this)" alt="Washed Out">
                    <h2>{{course.name}}</h2>
                    <p>Ends on: {{course.end_date_obj | date : 'MMM d, y'}}</p>
                    <p>{{course.state}}</p>
                </a>
            </div>
        </div>
        <div class="card" id="error_msg" ng-if="filteredcourse.length == 0">
             <div class="item item-text-wrap">
                No result found.
             </div>
        </div>
        <!--<div class="card" >-->
            <!--<div class="item item-text-wrap">-->
                <!--No result found.-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>

