<ion-view title="{{title}}" >
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button back-button buttons button-clear header-item" ng-click="historyGoBack()">-->
            <!--<i class="icon ion-android-arrow-back"></i>-->
            <!--<span class="back-text"></span>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
        <div class="tabs">
            <a class="tab-item" ng-class="{ active : settings.Tab1}" ng-click="tabbed('Tab1')">
                Content
            </a>
            <a class="tab-item" ng-class="{ active :settings.Tab2}" ng-click="tabbed('Tab2')">
                Assessments
            </a>
            <a class="tab-item" ng-class="{ active :settings.Tab3}" ng-click="tabbed('Tab3')">
                Discussions
            </a>
        </div>
        <!--<button ng-if="settings.Tab3 == true" class="button button-icon-only button-fab button-balanced" style="position:fixed;bottom:0px;right:0px;z-index:1000;" ui-sref="add-discussion"><i class="icon ion-android-add" style="vertical-align: initial"></i></button>-->
        <i ng-if="settings.Tab3 == true" class='icon ion-android-add icon-round-xl icon-bg-balanced margin-right-12 z-index-100 pointer ' ui-sref="add-discussion" style="position: fixed;bottom:10px;right:0px;z-index:1000;"></i>

        <ion-content style="margin-top:46px;" class="app-bg">
            <div  ng-if="settings.Tab1 == true">
                <div class="app-container">
                <div ng-if="ombook">
                    <div ng-if="ombook == 'None'">
                        <div class="card margin-top-12">
                            <div class="item item-text-wrap center">
                                 No Lecture for this course
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">

                    <div  ng-repeat="chapter in ombook['chapters']">
                        <div class="item item-divider" >
                            {{chapter.title}}
                        </div>
                        <div ng-if="chapter['prev'] == false">
                            <div class="list" style="margin-bottom:0px">
                                <a ng-if="chapter['desc'] != '' " class="item">
                                    <i class="fa fa-lock fa-lg"></i>
                                    Overview
                                </a>
                            </div>
                            <div class="list" style="margin-bottom:0px">
                                <a data-ng-repeat="page in chapter['lpages']" class="item truncate">
                                    <i class="fa fa-lock fa-lg"></i>
                                    {{page.ptitle}}
                                    <span ng-if="page.ttype == 0" class="item-note" style="color:blue;">Reference</span>
                                    <span ng-if="page.prac_id != ''" class="item-note" style="color:green;">Practice</span>
                                </a>
                            </div>
                            <div class="list" style="margin-bottom:0px">
                                <a ng-click="" ng-if="chapter['gate_questions']" class="item">
                                    <i class="fa fa-lock fa-lg"></i>
                                    Quiz
                                </a>
                            </div>
                        </div>
                        <div ng-if="chapter['prev'] == true || chapter['prev_chap_clear'] == undefined">
                            <div class="list" style="margin-bottom:0px">
                                <a  ng-if="chapter['desc'] != '' " ng-click="ombook_detailed_view(chapter.cid,'overview')" class="item">
                                    <i class="fa fa-circle-thin fa-lg" ng-if="chapter['chap_progress'] == undefined" style="color:green"></i>
                                    <i class="fa fa-check-circle fa-lg" ng-if="chapter['chap_progress'] == 1" style="color:green;"></i>
                                    <i class="fa fa-adjust fa-lg" ng-if="chapter['chap_progress'] == 2" style="color:green;"></i>
                                    Overview
                                </a>
                            </div>
                            <div class="list" style="margin-bottom:0px">
                                <a data-ng-repeat="page in chapter['lpages']" ng-click="ombook_detailed_view(chapter.cid,page.pid)" class="item truncate">
                                    <i class="fa fa-circle-thin fa-lg" ng-if="page['progress'] == undefined" style="color:green"></i>
                                    <i class="fa fa-check-circle fa-lg" ng-if="page['progress'] == 1" style="color:green;"></i>
                                    <i class="fa fa-adjust fa-lg" ng-if="page['progress'] == 2" style="color:green;"></i>
                                    {{page.ptitle}}
                                    <span ng-if="page.ttype == 0" class="item-note" style="color:blue;">Reference</span>
                                    <span ng-if="page.prac_id != ''" class="item-note" style="color:green;">Practice</span>
                                </a>
                            </div>
                            <div class="list" style="margin-bottom:0px">
                                <a ng-if="chapter['gate_questions']" ng-click="ombook_detailed_view(chapter.cid,'quiz')" class="item">
                                    <i class="fa fa-circle-thin fa-lg" ng-if="chapter['cleared'] == undefined" style="color:green"></i>
                                    <i class="fa fa-check-circle fa-lg" ng-if="chapter['cleared'] == 1" style="color:green;"></i>
                                    <i class="fa fa-adjust fa-lg" ng-if="chapter['cleared'] == 0" style="color:green;"></i>
                                    Quiz
                                </a>
                            </div>
                        </div>
                    </div>
                        </div>
                </div>
            </div>
            <div ng-if="settings.Tab2 == true">
                <div class="app-container">
                <div ng-if="assessment_list">
                <div ng-if="assessment_list.length == 0">
                    <div class="card ">
                        <div class="item item-text-wrap center">
                            No Assessments
                        </div>
                    </div>
                </div>
                </div>

                <div class="list">
                    <a class="item item-icon row" ng-repeat="data in assessment_list| orderBy:'-id'" ng-click="assessmentdetail(data.id)">
                        <div class="col col-25 col-25-tablet col-center">
                            <button class="button button-stable icon-flat-round">
                                <i ng-if="data.state =='Due' " class="fa fa-pencil"></i>
                                <i ng-if="data.state == 'Not Started'" class="fa fa-lock"></i>
                                <i ng-if="data.state == 'Evaluated' " class="fa fa-check"></i>
                                <i ng-if="data.state == 'Missed' " class="fa fa-ban"></i>
                                <i ng-if="data.state == 'In Progress' " class="fa fa-hourglass-half"></i>
                                <i ng-if="data.state == 'Needs Evaluation' " class="fa fa-question"></i>
                            </button>
                        </div>
                        <div class="col">
                            <h2>{{ data.title }}</h2>
                            <p ng-if="data.state =='Due' || 'Evaluated' || 'Missed' || 'In Progress' || 'Needs Evaluation'"><i class="fa fa-clock-o"></i><span class="flex-offset-3">{{data.start_date}}</span></p>
                            <p ng-if="data.state =='Not started' "><i class="fa fa-clock-o"></i><span class="flex-offset-3">{{data.end_date}}</span></p>
                            <p ng-if="data.marks == 'N/A' "><i class="fa fa-star-o"></i><span class="flex-offset-3">Not Avaliable</span></p>
                            <p ng-if="data.marks != 'N/A' "><i class="fa fa-star-o"></i><span class="flex-offset-3">{{data.marks}}/{{data.total_marks}}</span></p>
                        </div>
                    </a>
                </div>
                    </div>
            </div>
            <div  ng-if="settings.Tab3 == true">
                <div class="app-container">
                <div ng-if="discussions">
                    <div ng-if="discussions.length == 0">
                        <div class="card margin-top-12">
                            <div class="item item-text-wrap center">
                                No Discussons available.
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-repeat="discussion in discussions">
                    <input type="hidden" id="discussion_id" ng-if="$last" value="{{discussion['discussion_thread'].id}}" >
                    <div class="row">
                        <div class="col col-25"><img src="{{discussion['discussion_thread'].user_profile_pic}}" onerror="userImage(this)" style="border-radius:50%; max-height:50px;"></div>
                        <div class="col">
                            <span>{{discussion['discussion_thread'].user}}</span><br>
                            <span class="date-time">{{discussion['discussion_thread'].date}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <h5>{{discussion['discussion_thread'].title| htmlToPlaintext}}</h5>
                    </div>
                    <div class="row">
                        <span>{{discussion['discussion_thread'].content | htmlToPlaintext}}</span>
                    </div>
                    <button id="reply-{{discussion['discussion_thread'].id}}" class="button button-clear button-balanced pull-right" ng-click="reply(discussion)">
                        {{discussion['replies'].length}} REPLIES
                    </button>
                </div>
                <div class="row" ng-if="discussions.length == 5">
                    <button class="button button-positive" ng-click="discussion()" id="more-discussion">Show more dis..</button>
                </div>
            </div>
                </div>
        </ion-content>
    </div>
</ion-view>
