<ion-view view-title="Discussion">
    <ion-content class="app-bg">
        <div class="app-container">
        <div id="add-discussion">
            <h5>Add Discussion</h5>
            <div class="list">
                <label class="item item-input item-floating-label" id="discussion_title">
                    <span class="input-label">Enter Discussion Title</span>
                    <input ng-model="thread.discussion_title" type="text" placeholder="Enter Discussion Title">
                </label>
                <label class="item item-input item-floating-label" id="discussion_thread">
                    <span class="input-label">Enter Discussion Content</span>
                    <textarea ng-model="thread.discussion_thread" placeholder="Enter Discussion Content"></textarea>
                </label>
                <button class="button button-positive button-full" ng-click="submit_discussion()">Post Discussion</button>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>