<ion-view view-title="Discussion">
    <ion-content class="md-padding app-bg">
        <div class="app-container">
        <div class="row">
            <div class="col col-25"><img src="{{discussion['discussion_thread'].user_profile_pic}}" onerror="userImage(this)" style="border-radius:50%; max-height:35px;"></div>
            <div class="col">
                <span>{{discussion['discussion_thread'].user}}</span><br>
                <span class="date-time">{{discussion['discussion_thread'].date}}</span>
            </div>
        </div>
         <div class="row">
             <h5>{{discussion['discussion_thread'].title | htmlToPlaintext}}</h5>
         </div>
        <div class="row">
            <span>{{discussion['discussion_thread'].content | htmlToPlaintext}}</span>
        </div>
        <div ng-repeat="reply in discussion['replies']" class="divider">
            <div class="row">
                <div class="col col-25"><img src="{{reply.photo}}"  onerror="userImage(this)" style="border-radius:50%; max-height:35px;"></div>
                <div class="col">
                    <span>{{reply.user}}</span><br>
                    <span class="date-time">{{reply.date}}</span>
                </div>
            </div>
            <span class="padding">{{reply.reply_msg}}</span>
        </div>
        <div id="post-comment-{{discussion['discussion_thread'].id}}" style="padding-top:50px;">
            <div class="list">
                <label class="item item-input">
                    <textarea ng-model="comment.reply" placeholder="Submit your reply"></textarea>
                </label>
            </div>
            <div class="row">
                <div class="col" style="text-align:center">
                    <button class="button button-positive" ng-click="submit_reply(discussion['discussion_thread'].id)">Reply</button>
                </div>
            </div>
        </div>
            </div>
    </ion-content>
</ion-view>