<ion-view title="Enroll">
    <!--<ion-nav-buttons side="left">-->
        <!--<button class="button back-button buttons button-clear header-item" ng-click="historyGoBack()">-->
            <!--<i class="icon ion-android-arrow-back"></i>-->
            <!--<span class="back-text"></span>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="padding app-bg">
        <div id="enrollment"></div>
        <!--<div class="web-container">-->
            <!--<center>-->
                <!--<iframe frameborder="0" scrolling="yes" width="100%" height="533.6px" ng-src="{{trustSrc(url)}}" seamless="">Unable to display as iframe is not supported</iframe>-->
            <!--</center>-->
        <!--</div>-->

        <!--<button class="button button-balanced" ng-click="goback()" style="margin-top:20px;">-->
            <!--Back To Course Detail-->
        <!--</button>-->

        <div id="enrollment_status" ng-if="enrollment_msg">
            <div class="card">
                <div class="item item-divider">
                    Enrollment Status
                </div>
                <div class="item item-text-wrap">
                    <p ng-bind-html="enrollment_msg | to_trusted">

                </div>
            </div>
            <div ng-if="response['status'] == 'Success'">
                <button class="button button-positive" ng-click="course_view()">View Course</button>
            </div>
        </div>

    </ion-content>
</ion-view>