<ion-view title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon " ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-side-menus enable-menu-with-back-views="false" >
        <ion-side-menu side="left" style="margin-top:-1px">
             <ion-content class="has-header" >
                 <ul class="list">
                     <li class="users">
                         <div class="">
                             <div class="row">
                                 <div class="col col-40 col-center">
                                    <img src={{user.profile_pic}} onerror="userImage(this)" style="border-radius:50%;height:80px;">
                                 </div>
                                 <div class="col col-center">
                                     <h2 style="text-transform:capitalize;" class="user-text">{{user.user}}</h2>
                                     <p class="user-text">Learner</p>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li>
                     <!--<div class="list">-->
                        <!--<a class="item item-avatar" href="#" style="padding-left:82px">-->
                            <!--<img src={{user.profile_pic}} onerror="userImage(this)" style="max-width:50px;max-height:50px;">-->
                            <!--<div class="padding">-->
                            <!--<h2>{{user.user}}</h2>-->
                            <!--<p>Learner</p>-->
                            <!--</div>-->
                        <!--</a>-->
                     <!--</div>-->
                     <!--</li>-->
                     <!--<li>-->
                     <!--<div class="list users">-->
                        <!--<a class="item item-thumbnail-left user-profile" href="#">-->
                            <!--<img src={{user.profile_pic}} onerror="userImage(this)" style="border-radius:50%">-->
                            <!--<div class="padding">-->
                                <!--<h2 style="text-transform:capitalize;">{{user.user}}</h2>-->
                                <!--<p>Learner</p>-->
                            <!--</div>-->
                        <!--</a>-->
                     <!--</div>-->
                     <!--</li>-->
                     <li class="item" ui-sref="mycourse">
                        <i class="fa fa-list font-icon" aria-hidden="true"></i>My Courses
                     </li>
                     <li class="item" ui-sref="coursecatalogue">
                         <i class="fa fa-star font-icon" aria-hidden="true"></i>Featured Courses
                     </li>
                     <li class="item" ng-click="logout()">
                         <i class="fa fa-sign-out font-icon" aria-hidden="true"></i>Logout
                     </li>
                 </ul>
             </ion-content>
        </ion-side-menu>
        <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
            <ion-content class="app-bg">
                <div class=" margin-top-12">
                <div class="" data-ng-repeat="todays_class in users_classes.today">
                    <div class="list">
                        <div class="item item-button-right">
                            <span>{{todays_class.course}}<sup>{{todays_class.class_no}} class</sup></span>
                            <span>{{todays_class.start_time}}</span>
                            <button class="button button-positive" ng-if='todays_class.meeting_id != "" && todays_class.b_type == 2 && todays_class.gotomeeting == 1' data-ng-click="joingotomeeting($event,todays_class.meeting_id)">
                                <i class="icon ion-log-in"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="enrolledcourse != undefined">
                    <div class="margin-top-12 capitalize-header center">My Courses</div>
                    <div  ng-if="enrolledcourse.length > 0" class="margin-left-12 margin-right-12">
                        <!--<button class="button button-clear button-dark home-heading" ui-sref="mycourse">My Courses</button>-->
                        <button class="button button-clear pull-right button-dark home-heading" ui-sref="mycourse" ng-if="enrolledcourse.length > 2">See All</button>
                    </div>
                    <div class="row card-menu-list" style="overflow:auto;" ng-if="enrolledcourse.length > 0">
                        <!--<div ng-repeat="course in enrolledcourse" class="list card col col-40 col-40-tablet card-menu" ng-if="(course.state == 'Live' || course.state == 'Draft' || course.state == 'Open' || course.state == 'Closed') && $index < 10" ng-style="($index == 9 || $last) ? { 'margin-bottom':'0px'} : {  }" style="display:inline-block;">-->
                        <div ng-repeat="course in enrolledcourse" class="list card col col-40 col-40-tablet card-menu" ng-if="(course.batch_status != 'Expired') && $index < 10" ng-style="($index == 9 || $last) ? { 'margin-bottom':'0px'} : {  }" style="display:inline-block;">
                            <a ng-click="batchdetail(course.grade_id,course.title)">
                                <div class="item item-image">
                                    <img src="{{course.thumbnail}}" alt="Washed Out" onerror="myFunction(this)" style="min-height:100px;max-height:150px;">
                                </div>
                                <div class="truncate-card-title text-center">{{course.title}}</div>
                            </a>
                        </div>
                        <div style="" ng-if="enrolledcourse.length != 0"><p>&nbsp;</p></div>
                    </div>
                </div>
                <div ng-if="enrolledcourse.length == 0">
                    <div class="card">
                        <div class="item item-text-wrap">
                            No active course.
                        </div>
                    </div>
                </div>
                    <div class="margin-top-12 capitalize-header center">Featured Courses</div>
                <!--<div  ng-repeat="catalog in browse_course['catalog_detail']" class="margin-top-12">
                    <div ng-if="catalog['courses_listing'].length > 0">
                        <div class="margin-left-12 margin-right-12">
                            <button class="button button-clear button-dark home-heading" ng-click="get_course(catalog)">{{catalog.name}}</button>
                            <button class="button button-clear pull-right button-dark home-heading" ng-click="get_course(catalog)" ng-if="catalog['courses_listing'].length > 2">See All</button>
                        </div>
                        <div class="row card-menu-list" style="overflow:auto;width:100%;">
                            <div ng-repeat="course in catalog['courses_listing']" class="list card col col-40 col-40-tablet card-menu" ng-if="$index < 10" ng-style="($index == 9 || $last) ? { 'margin-bottom':'0px'} : {  }">
                                <a ng-click="browse_caourse_detail(course)">
                                    <div class="item item-image">
                                        <img src="{{course.course_image}}" alt="Washed Out" onerror="myFunction(this)" style="min-height:100px; max-height:150px;">
                                    </div>
                                    <div class="truncate-card-title text-center">{{course.course_name}}</div>
                                </a>
                            </div>
                            <div style="" ng-if="catalog['courses_listing'].length >2"><p>&nbsp;</p></div>
                        </div>
                    </div>
                </div>-->
                    </div>
            </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>

