<ion-view title="usersLogin" hide-nav-bar="true" ng-init="init()">
    <ion-content class="app-bg">
        <div class="row row-center">
            <div class="text-center" style="width:100%">
                <img src="{{logo}}" alt="">
            </div>
        </div>
        <div class="list list-inset">
            <form ng-submit="loginsubmit()">
                <label class="item item-input">
                    <input type="text" placeholder="Username" name="username" id="username" ng-model="login.username" required>
                </label>
                <label class="item item-input">
                    <input type="password" name="password" id="password" ng-model="login.password" placeholder="Password" required>
                </label>
                <a class="button button-clear button-positive">Forgot Password ?</a>
                <!--<label ng-show="error_msg != ''" style="color:rgb(189, 63, 66)">{{error_msg}}</label>-->
                <ul class="list" ng-show="error_msg != '' || (login_error_msg != '' && login_error_msg != undefined)">
                    <li class="item" style="color:rgb(189, 63, 66)" id="login_error">
                        {{error_msg}}
                    </li>
                </ul>
                <!--<div id='error'></div>-->
                <button class="button button-block button-calm" type="submit" >Login</button>
            </form>
            <div class="text-center">
                <a class="color-calm" href='#register'>New User? Sign up</a>
            </div>
            <hr style="color:#ccc">
            <button class="button button-block icon-left ion-social-facebook button-positive" ng-click="social_login('/login/facebook/?next=social-login-enroll-mobile_cid=0_ctype=0_next-tab=/lms/myhome/_error-url=/lms/')">Login with Facebook</button>
            <button class="button button-block icon-left ion-social-googleplus button-assertive" ng-click="social_login('/login/google-oauth2/?next=social-login-enroll-mobile_cid=1_ctype=1_next-tab=/lms/myhome/_error-url=/lms/')">Login with Google+</button>    
        </div>
    </ion-content>
</ion-view>