<ion-view title='Gated Ombook' cache-view="false">
    <!--<ion-nav-buttons side="left">-->
        <!--<button  class="button back-button buttons button-clear header-item" ng-click="historyGoBack()">-->
            <!--<i class="icon ion-android-arrow-back"></i>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content class="app-bg">
        <div ng-if="submit_popup == false" class="app-container">
            <div ng-repeat="omb in ombook_gate">
                <div ng-if="$index < ombook_gate.length && submitconfirmation == 'false'">
                    <div ng-form="ombook-{{ omb.id }}" role="form" method="post">
                        <div ng-if="question_index == $index">
                            <div class="row padding">
                                <span>{{$index+1}}.</span><span ng-if="omb['type'] == 1 || omb['type'] == 2 || omb['type'] == 8 || omb['type'] == 5">{{omb.question | htmlToPlaintext}}</span>
                                <span ng-if="omb['type'] == 4 || omb['type'] == 3" ng-bind-html="omb.question | to_trusted"></span>



                                <!--<span>{{$index+1}}.</span><span>{{omb.question | htmlToPlaintext}}</span>-->
                            </div>
                            <div class="row"><span class="pull-right">Points:{{omb.marks}}</span></div>
                            <div class="row" ng-if="(omb['r_cat'] == '4' || omb['r_cat'] == '9' || omb['r_cat'] == '6')">
                                <div ng-if="omb['r_cat'] == '4'" ng-init="video(omb['r_url'], omb['r_local'])">
                                    <div id="embeded_video"></div>
                                </div>
                                <div ng-if="omb['r_cat'] == '9'" ng-init="audio(omb['r_url'])">
                                    <div id="embeded_audio"></div>
                                </div>
                                <div ng-if="omb['r_cat'] == '6'" ng-init="image(omb['r_url'], omb['r_local'])">
                                    <div id="embeded_image"></div>
                                </div>
                            </div>
                            <div ng-if="omb.type == '1'" class="multiline-list">
                                <ion-list>
                                    <ion-checkbox ng-repeat="option in omb['options']" ng-model="option.student_ans" ng-class="{'checkbox-balanced':(option.student_ans == true)}">{{option.text | htmlToPlaintext}}</ion-checkbox>
                                </ion-list>
                            </div>
                            <div ng-if="omb.type == '2'" class="multiline-list">
                                <ion-list>
                                    <ion-checkbox  ng-repeat="option in omb['options']" ng-model="option.student_ans" ng-click="updateSelection($index, omb['options'])" ng-class="{'checkbox-balanced':(option.student_ans == true)}">{{option.text | htmlToPlaintext}}</ion-checkbox>
                                </ion-list>
                            </div>
                            <div ng-if="omb.type == '4' || omb.type == '8'">
                                <div class="list list-inset">
                                    <div ng-repeat="option in omb['options']">
                                        <label class="item item-input">
                                            <input type="text" ng-model="option.student_ans" placeholder="Blank_{{$index}}">
                                        </label>
                                        <!--<input type="text" name="answer" id="answer" ng-model="option.student_ans" placeholder="Blank_{{$index}}" >-->
                                    </div>
                                </div>
                            </div>
                            <div ng-if="omb.type == '3'" class="multiline-list">
                                <ion-list show-reorder="true">
                                    <ion-item ng-repeat="option in omb['options']">
                                        {{option.text | htmlToPlaintext}}
                                        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(option, $fromIndex, $toIndex)">
                                        </ion-reorder-button>
                                    </ion-item>
                                </ion-list>
                            </div>
                            <div ng-if="omb.type == '5'">
                                <div ng-repeat="(k,option) in omb['options']">
                                    <div class="match_type">
                                        <div class="list">
                                            <div class="item item-text-wrap">
                                                {{option.text | htmlToPlaintext}}
                                            </div>
                                        </div>
                                        <label class = "option item item-input item-select">
                                            <div class = "input-label" style="min-height:30px"></div>
                                            <!--<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>-->
                                            <!--<select ng-options="op as op.answer for op in  assessment['question']['options_B'] track by op.index" ng-model="op.selected" ng-change="update_match(option,op.index,op.id)">-->
                                            <!--<option ng-repeat="op in assessment['question']['options_B']" val="{{op.id}}">{{op.answer | htmlToPlaintext}}</option>-->
                                            <!--</select>-->
                                            <select ng-model="option.student_ans" ng-change="update_match(option,option.student_ans)">
                                                <option value="">Not Selected</option>
                                                <option ng-repeat="op in omb['options_B']" data-id="{{op.id}}" value="{{op.id}}" ng-class="{'disabled-page': ((op.selected == true) && (k != op.selected_op_index))}" ng-selected=" ((op.selected == true) && (k == op.selected_op_index))">{{k}}{{op.selected_op_index}}{{op.answer | htmlToPlaintext}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bar bar-footer bar-dark">
                                <div class="row">
                                    <button class="button button-clear">{{$index+1}}/{{ombook_gate.length}}</button>
                                    <div class="col" style="text-align:center;">
                                        <button class="button button-icon icon ion-ios-arrow-back"  ng-click="previous()"></button>
                                        <button class="button button-icon icon ion-ios-arrow-forward" ng-click="next()"></button>
                                    </div>
                                    <button class="button button-icon icon ion-arrow-up-a"  ng-click="submit()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="question_index == ombook_gate.length  || submitconfirmation == 'true'">
                <div ng-if="question_no != '[]'">
                    <p>Questions not answered:</p>
                    <div class="row">
                        <div class="col">
                            <div ng-repeat="question in question_no" class="padding" style="display:inline-block;">
                                <button class="button button-assertive" ng-click="unattemptedquestion(question)" style="border-radius:50%">Q.{{question}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="question_no == []">
                    <p>You Have Answered All Question.</p>
                </div>
                <button class="button button-block button-positive" ng-click="final_submission()">
                    Submit Now
                </button>
                <button class="button button-block button-positive" ng-click="previous('submitconfirmation')">
                    Back To Quiz
                </button>
            </div>
        </div>
        <div ng-if="submit_popup == true" class="app-container">
            <div class="card">
                <div class="item item-text-wrap">
                    <p>Score:{{cleared_gate.message}}</p>
                    <p ng-if="cleared_gate.score != undefined">{{cleared_gate.score}}</p>
                    <div style="padding-top:15px;">
                        <button class="button button-balanced" ng-click="back_ombook(cleared_gate)" ng-if="cleared_gate.cleared == 1">Go To Next Chapter</button>
                    </div>
                    <div ng-if="cleared_gate.cleared == 0" style="padding-top:15px">
                        <button class="button button-balanced" ng-click="back_ombook(cleared_gate)">Try Again Latter</button>
                        <button class="button button-balanced" ng-click="retry_now()">Retry Now</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>