<ion-view title="{{title}}">
    <ion-nav-buttons side="right">
        <button class="button back-button buttons button-clear header-item"  ng-click="popover.show($event)">
            <i class="icon ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
    <!--<i class='icon ion-android-more-vertical icon-lg-grey margin-left-12 margin-top-12 z-index-100 pointer' style="position: fixed;right:0;padding-right:20px;" ng-click="popover.show($event)"></i>-->
    <!--<button class="button button-icon icon ion-android-more-vertical z-index-100" ng-click="popover.show($event)" style="position: fixed;right:0;padding-right:20px;"></button>-->
    <button class="button button-icon icon ion-android-arrow-back z-index-100" ng-click="close()" style="position: fixed;padding-left: 10px;"></button>
    <!--<i class='icon ion-android-arrow-back icon-lg-grey margin-top-12 margin-right-12 z-index-100 pointer ' ng-click="close()" style="position: fixed;padding-left: 10px;"></i>-->
    <i class='omb-nav icon ion-chevron-left icon-lg-grey margin-left-12  z-index-100 pointer hide' ng-click="prev()" style="position: fixed;top:50%"></i>
    <i class='omb-nav icon ion-chevron-right  icon-lg-grey margin-right-12 z-index-100 pointer hide' ng-click="next()" style="position: fixed;right:0;top:50%"></i>
    <span class= "margin-left-12 z-index-100 pointer"  style="position: fixed;bottom:0;margin-bottom:12px;background: black;color: white;padding: 3px 6px;opacity: 0.4;">{{current_page_no}}/{{total_page_of_ombook}}</span>
    <button class="button button-icon icon ion-ios-information z-index-100" id="anotation_button"  ng-click="showannotation()" style="position: fixed;right:0;bottom:0;opacity: 0.4;"></button>
    <!--<i class='omb-nav icon ion-ios-information  icon-lg-grey margin-right-12 z-index-100 pointer' id="anotation_button"  ng-click="showannotation()" style="position: fixed;right:0;bottom:0;display:hidden;"></i>-->
    <ion-content  on-swipe-left="next()" on-swipe-right="prev()"  id="ombook_page" class="app-bg">
        <!--<div id="loader" style="display:none;position:absolute;top: 0;bottom: 0;left: 0;right: 0;margin:auto;height: 3px;width: 3px;z-index:1000;"><ion-spinner icon="spiral"></ion-spinner></div>-->
        <span id="timer" style="display:none"></span>
        <div ng-repeat="(chapter_key, chapter) in ombook['chapters']" on-last-repeat class="col-center">
            <div ng-class="{'active-page': ((chapter_key == chapter_no &&  page_no == undefined) == true ), 'disabled-page':((chapter_key == chapter_no &&  page_no == undefined) == false )}"   data-chapter="{{chapter}}" data-page-key="undefined" data-page-id="undefined" data-page-progess="{{chapter['chap_progress']}}" data-page-no = "{{chapter['c_p_no']}}" class='omb-page' ng-if="chapter.desc != '' ">
                <div class="row">
                    <div class="col">
                        <div id="content-{{chapter.cid}}">
                            <p>{{chapter['title']}}</p>
                            <p ng-bind-html="chapter['desc'] | to_trusted"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="(page_key, page) in chapter['lpages']">
                <div class="row  omb-page" id="chap-{{chapter.cid}}-page-{{page.pid}}" ng-class="{'active-page':((chapter_key == chapter_no && page_key == page_no) == true),'disabled-page':((chapter_key == chapter_no && page_key == page_no) == false)}"  data-chapter="{{chapter}}" data-page-key="{{page_key}}" data-page-id="{{page['pid']}}" data-page-progess="{{page['progress']}}" data-page-no = "{{page['p_no']}}">
                    <div class="col col-center">
                        <div id="content-{{chapter.cid}}-{{page_key}}"></div>
                    </div>
                    <div class="annotation hide" id="ann-{{page.p_no}}">
                        <div ng-if="page.atn != ''">
                            <div class="card">
                                <div class="item item-divider">Annotation:</div>
                                <div class="item item-text-wrap">
                                    <span ng-bind-html="page.atn | to_trusted"></span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="page.atn == ''">
                            There is no annotation to display..
                        </div>
                    </div>
                </div>
            </div>
            <div  ng-class="{'active-page':((chapter_key == chapter_no && (page_no == chapter['lpages'].length)) == true),'disabled-page':((chapter_key == chapter_no && (page_no == chapter['lpages'].length)) == false)}" on-swipe-left="next(chapter,chapter['cid'],page_no,'quiz',chapter['quiz_progress'])" on-swipe-right="prev(chapter,chapter['cid'],page_no,'quiz',chapter['quiz_progress'])" class="container-fluid omb-page"  data-chapter="{{chapter}}" data-page-key="{{page_no}}" data-page-id="quiz" data-page-progess="{{chapter['quiz_progress']}}" data-page-no = "{{chapter['c_q_no']}}">
                <div class="row">
                   <div class="col">
                       <div id="content-{{chapter.cid}}-{{chapter['lpages'].length}}"></div>
                   </div>
               </div>
            </div>
        </div>
    </ion-content>
</ion-view>
