<ion-popover-view class="popover-ombook">
    <ion-content>
        <div class="list" ng-click="popover.hide()">
            <div ng-repeat="(chapter_key, chapter) in ombook['chapters']">
                <div class="item item-divider">
                    {{chapter.title}}
                </div>
                <div ng-if="chapter['prev'] == false" class="ombook-toc">
                    <div class="item" ng-if="chapter['desc'] != '' ">
                        <p><i class="fa fa-lock fa-lg" ></i>Overview</p>
                    </div>
                    <a href="#" class="item" ng-repeat="(page_key, page) in chapter['lpages']">
                        <p class="item-text-wrap"><i class="fa fa-lock fa-lg"></i>{{page.ptitle}}</p>
                    </a>
                    <a ng-if="chapter['gate_questions']"  class="item">
                        <i class="fa fa-lock fa-lg"></i>
                        Quiz
                    </a>
                </div>
                <div ng-if="chapter['prev'] == true || chapter['prev_chap_clear'] == undefined" class="ombook-toc">
                    <a class="item" ng-if="chapter['desc'] != '' " href="#" ng-click="goto(chapter,page_key,page.pid,page.progess,chapter.c_p_no)" id="{{chapter.c_p_no}}" ng-class="{current:(current_page_no == chapter.c_p_no)}">
                        <p><i class="fa fa-circle-o fa-lg" ng-if="chapter['chap_progress'] == undefined" style="color:green;"></i>
                            <i class="fa fa-check-circle fa-lg" ng-if="chapter['chap_progress'] == 1" style="color:green;"></i>
                            <i class="fa fa-adjust fa-lg" ng-if="chapter['chap_progress'] == 2" style="color:green;"></i>
                            Overview
                        </p>
                    </a>
                    <a href="#" class="item" ng-repeat="(page_key, page) in chapter['lpages']" ng-click="goto(chapter,page_key,page.pid,page.progess,page.p_no)" id="{{page.p_no}}" ng-class="{current:(current_page_no == page.p_no)}">
                        <p class="item-text-wrap"><i class="fa fa-circle-o fa-lg" ng-if="page['progress'] == undefined" style="color:green;"></i>
                            <i class="fa fa-check-circle fa-lg" ng-if="page['progress'] == 1" style="color:green;"></i>
                            <i class="fa fa-adjust fa-lg" ng-if="page['progress'] == 2" style="color:green;"></i>
                            {{page.ptitle}}</p>
                    </a>
                    <a ng-if="chapter['gate_questions']"  class="item" ng-click="goto(chapter,chapter['lpages'].length,'quiz',chapter['quiz_progress'],chapter['c_q_no'])" id="{{chapter['c_q_no']}}" ng-class="{current:(current_page_no == chapter['c_q_no'])}">
                        <i class="fa fa-circle-o fa-lg" ng-if="chapter['cleared'] == undefined" style="color:green;"></i>
                        <i class="fa fa-check-circle fa-lg" ng-if="chapter['cleared'] == 1" style="color:green;"></i>
                        <i class="fa fa-adjust fa-lg" ng-if="chapter['cleared'] == 0" style="color:green;"></i>
                        Quiz
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-popover-view>