<ion-view title="{{title}}">
    <!--<ion-nav-title>-->
      <!--<sapn>{{title}}</sapn>-->
    <!--</ion-nav-title>-->
    <!--<ion-nav-buttons side="left">-->
        <!--<button  class="button button-clear" ng-click="historyGoBack()">-->
            <!--<i class="icon ion-android-arrow-back"></i>-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-nav-buttons side="right">
        <span ng-if="(evaluated == 'false' && (assess_basic_details['settings']['25' ] >= 0 && assess_basic_details['settings']['25'] != '') && (failed == undefined))" style="padding-top:10px;"><i class="fa fa-clock-o" style="padding-top:2px;"></i><span id="timer" ></span></span>
        <span ng-if="(evaluated == 'false' && (assess_basic_details['settings']['25' ] >= 0 && assess_basic_details['settings']['25'] != '') && (failed == undefined))" style="display:none;"><i class="fa fa-clock-o"></i><span id="timer_hidden"></span></span>
    </ion-nav-buttons>
    <div id="assid">
        <div ng-if="assessments">
            <div ng-repeat="assessment in assessments">
                <div ng-if="$index < assessments.length">
                    <div ng-form="ass-{{ assessment['question'].id }}" role="form" method="post">
                        <div ng-if="submitconfirmation == 'false'">
                            <div ng-if="question_index == $index">
                                <ion-content class="app-bg">
                                    <div class="app-container">
                                    <div class="row">
                                        <span>{{$index+1}}.</span><span ng-if="assessment['question']['type'] == 1 || assessment['question']['type'] == 2 || assessment['question']['type'] == 8 || assessment['question']['type'] == 5">{{assessment['question'].question | htmlToPlaintext}}</span>
                                        <span ng-if="assessment['question']['type'] == 4 || assessment['question']['type'] == 3" ng-bind-html="assessment['question'].question | to_trusted"></span>

                                    </div>
                                    <div class="row"><div class="col"><span class="pull-right">Points:{{assessment['question'].marks}}</span></div></div>
                                    <div class="row" ng-if="assess_basic_details['settings']['show_hint'] == '1' && evaluated == 'false'">Hint:<span>{{assessment['question'].hint}}</span></div>
                                    <div class="row" ng-if="(assessment['question']['r_cat'] == '4' || assessment['question']['r_cat'] == '9' || assessment['question']['r_cat'] == '6')">
                                        <div ng-if="assessment['question']['r_cat'] == '4'" ng-init="video(assessment['question']['r_url'], assessment['question']['r_local'])" layout-align="center center">
                                            <div id="embeded_video"></div>
                                        </div>
                                        <div ng-if="assessment['question']['r_cat'] == '9'" ng-init="audio(assessment['question']['r_url'])" layout-align="center center">
                                            <div id="embeded_audio"></div>
                                        </div>
                                        <div ng-if="assessment['question']['r_cat'] == '6'" ng-init="image(assessment['question']['r_url'], assessment['question']['r_local'])" layout-align="center center">
                                            <div id="embeded_image"></div>
                                        </div>
                                    </div>
                                    <div ng-if="assessment['question'].type == '1' && evaluated == 'false' " class="multiline-list">
                                        <ion-list>
                                            <ion-checkbox ng-repeat="option in assessment['question']['options']" ng-model="option.student_ans" ng-class="{'checkbox-balanced':(option.student_ans == true)}">{{option.text | htmlToPlaintext}}</ion-checkbox>
                                        </ion-list>
                                    </div>
                                    <div ng-if="assessment['question'].type == '1' && evaluated == 'true' " class="multiline-list">
                                        <ion-list>
                                            <ion-checkbox ng-repeat="option in assessment['question']['options']" ng-model="checked" ng-class="{'checkbox-balanced-custom checkbox-balanced': (option.answer == 'true'),'checkbox-stable':(option.answer == 'false')}" ng-init="checked = (option.std_ans == 'true') ? true : false;" >{{option.text | htmlToPlaintext}}</ion-checkbox>
                                        </ion-list>
                                    </div>
                                    <div ng-if="assessment['question'].type == '2' && evaluated == 'false' " class="multiline-list">
                                        <ion-list>
                                            <ion-checkbox  ng-repeat="option in assessment['question']['options']" ng-model="option.student_ans"  ng-click="updateSelection($index, assessment['question']['options'])" ng-class="{'checkbox-balanced':(option.student_ans == true)}">{{option.text | htmlToPlaintext}}</ion-checkbox>
                                        </ion-list>
                                    </div>
                                    <div ng-if="assessment['question'].type == '2' && evaluated == 'true' " class="multiline-list">
                                        <ion-list>
                                            <ion-checkbox ng-repeat="option in assessment['question']['options']" ng-model="checked" ng-class="{'checkbox-balanced-custom checkbox-balanced': (option.answer == 'true'),'checkbox-stable':(option.answer == 'false')}" ng-init="checked = (option.std_ans == 'true') ? true : false;" >{{option.text | htmlToPlaintext}}</ion-checkbox>
                                        </ion-list>
                                    </div>
                                    <div ng-if="(assessment['question'].type == '4' || assessment['question'].type == '8') && evaluated == 'false' ">
                                        <div class="list list-inset">
                                            <div ng-repeat="option in assessment['question']['options']">
                                                <label class="item item-input">
                                                    <input type="text" ng-model="option.student_ans" placeholder="Blank_{{$index}}">
                                                </label>
                                                    <!--<input type="text" name="answer" id="answer" ng-model="option.student_ans" placeholder="Blank_{{$index}}" >-->
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="assessment['question'].type == '4' && evaluated == 'true' ">
                                        <div class="list list-inset">
                                            <div ng-repeat="option in assessment['question']['options']">
                                                <label class="item item-input">
                                                    <div ng-if="option.answer == 'insensitive'">
                                                        <input type="text" ng-model="option.std_ans"  ng-class="((option.text).toUpperCase() == (option.std_ans).toUpperCase()) ? 'correct' : 'incorrect'">
                                                    </div>
                                                    <div ng-if="option.answer == 'sensitive'">
                                                        <input type="text" ng-model="option.std_ans"  ng-class="(option.text == option.std_ans) ? 'correct' : 'incorrect'">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if=" assessment['question'].type == '8' && evaluated == 'true' ">
                                        <div class="list list-inset">
                                            <div ng-repeat="option in assessment['question']['options']">
                                                <label class="item item-input">
                                                    <input type="text" ng-model="option.std_ans"  ng-class="(option.text == option.std_ans) ? 'correct' : 'incorrect'">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="assessment['question'].type == '3' && evaluated == 'false'" class="multiline-list">
                                        <ion-list show-reorder="true">
                                            <ion-item ng-repeat="option in assessment['question']['options']">
                                                {{option.text | htmlToPlaintext}}
                                                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(option, $fromIndex, $toIndex)">
                                                </ion-reorder-button>
                                            </ion-item>
                                        </ion-list>
                                    </div>
                                    <div ng-if="assessment['question'].type == '3' && evaluated == 'true'">
                                        <ion-list >
                                            <ion-item ng-repeat="option in assessment['question']['options']">
                                                {{option.text | htmlToPlaintext}}
                                            </ion-item>
                                        </ion-list>
                                    </div>
                                    <div ng-if="assessment['question'].type == '5' && evaluated == 'false'">
                                        <div ng-repeat="(k,option) in assessment['question']['options']">
                                            <div class="match_type">
                                                <div class="list">
                                                    <div class="item item-text-wrap">
                                                        {{option.text | htmlToPlaintext}}
                                                    </div>
                                                </div>
                                                <label class = "option item item-input item-select">
                                                    <div class = "input-label" style="min-height:30px"></div>
                                                    <!--<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>-->
                                                    <!--<select ng-options="op as op.answer for op in  assessment['question']['options_B'] track by op.index" ng-model="op.selected" ng-change="update_match(option,op.index,op.id)">-->
                                                        <!--<option ng-repeat="op in assessment['question']['options_B']" val="{{op.id}}">{{op.answer | htmlToPlaintext}}</option>-->
                                                    <!--</select>-->
                                                    <select ng-model="option.student_ans" ng-change="update_match(option,option.student_ans)">
                                                        <option value="">Not Selected</option>
                                                        <option ng-repeat="op in assessment['question']['options_B']" data-id="{{op.id}}" value="{{op.id}}" ng-class="{'disabled-page': ((op.selected == true) && (k != op.selected_op_index))}" ng-selected=" ((op.selected == true) && (k == op.selected_op_index))">{{k}}{{op.selected_op_index}}{{op.answer | htmlToPlaintext}}</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="assessment['question'].type == '5' && evaluated == 'true'">
                                        <div ng-repeat="(k,option) in assessment['question']['options']">
                                            <div class="match_type">
                                                <div class="list">
                                                    <div class="item item-text-wrap">
                                                        {{option.text | htmlToPlaintext}}
                                                    </div>
                                                </div>
                                                <label class = "option item item-input item-select">
                                                    <div class = "input-label" style="min-height:30px"></div>
                                                    <!--<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>-->
                                                    <!--<select ng-options="op as op.answer for op in  assessment['question']['options_B'] track by op.index" ng-model="op.selected" ng-change="update_match(option,op.index,op.id)">-->
                                                        <!--<option ng-repeat="op in assessment['question']['options_B']" val="{{op.id}}">{{op.answer | htmlToPlaintext}}</option>-->
                                                    <!--</select>-->
                                                    <select ng-model="option.student_ans" ng-change="update_match(option,option.student_ans)">
                                                        <option value="">Not Selected</option>
                                                        <option ng-repeat="op in assessment['question']['options_B']" data-id="{{op.id}}" value="{{op.id}}" ng-class="{'disabled-page': ((op.selected == true) && (k != op.selected_op_index))}" ng-selected=" (op.id == option.std_ans)">{{k}}{{op.selected_op_index}}{{op.answer | htmlToPlaintext}}</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div  ng-if="evaluated == 'true'">
                                        <div class="list">
                                            <a class="item item-icon row">
                                                <div class="col col-25" href="#">
                                                    <i ng-if="assessment['answer'].answer_type == 'Correct'" class="ion-ios-checkmark icon balanced" style="font-size:45px"></i>
                                                    <i ng-if="assessment['answer'].answer_type == 'Incorrect'" class="ion-ios-close icon assertive" style="font-size:45px;"></i>
                                                </div>
                                                <div clas="col">
                                                    <h2>{{assessment['answer'].answer_type}}</h2>
                                                    <p>{{assessment['answer'].score * assessment['question'].marks}}/{{assessment['question'].marks }}</p>
                                                    <p>{{assessment['answer'].feedback}}</p>
                                                    <div ng-if="assessment['question']['type'] == 4 || assessment['question']['type'] == 3 || assessment['question']['type'] == 8">
                                                        Correct Answer:
                                                        <span ng-repeat="(k,v) in assessment['answer']['answer']">{{v}}<span ng-if="$last != true">,</span></span>
                                                    </div>
                                                    <div ng-if="assessment['question']['type'] == 5">
                                                        Correct Sequence according to option:
                                                        <p ng-repeat="(k,v) in assessment['question']['options']">{{v.answer | htmlToPlaintext }}<span ng-if="$last != true">,</span></p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                        </div>
                                </ion-content>
                                <div  ng-if="question_index < assessments.length">
                                    <div class="bar bar-footer bar-dark">
                                        <div ng-if="evaluated == 'true'" class="row">
                                            <button class="button button-clear" style="padding-right: 31%;">{{$index+1}}/{{assessments.length}}</button>
                                            <button class="button button-icon icon ion-ios-arrow-back" ng-if="question_index == 0" id="previous09"  ng-disabled="true"></button>
                                            <button class="button button-icon icon ion-ios-arrow-back" ng-if="question_index > 0" id="previous08" ng-click="previous()"></button>
                                            <button class="button button-icon icon ion-ios-arrow-forward" ng-if="question_index < assessments.length-1 " id="next7" ng-click="next()"></button>
                                            <button class="button button-icon icon ion-ios-arrow-forward" ng-if="question_index == assessments.length-1" id="next8"  ng-disabled="true"></button>
                                            <button class="button button-clear"></button>
                                        </div>
                                        <div ng-if="evaluated == 'false'" class="row">
                                            <button class="button button-clear">{{$index+1}}/{{assessments.length}}</button>
                                            <div class="col" style="text-align:center;">
                                                <button class="button button-icon icon ion-ios-arrow-back" ng-if="question_index == 0" id="previous1"  ng-disabled="true"></button>
                                                <button class="button button-icon icon ion-ios-arrow-back" ng-if="question_index > 0" id="previous" ng-click="previous()"></button>
                                                <button class="button button-icon icon ion-ios-arrow-forward" ng-if="question_index <= assessments.length -1" flex-offset="10" id="next" ng-click="next()"></button>
                                            </div>
                                            <button class="button button-icon icon ion-arrow-up-a" ng-if="evaluated == 'false'" ng-click="submit()"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="(question_index == assessments.length && evaluated == 'false') || submitconfirmation == 'true'">
                <ion-content class="app-bg">
                    <div class="app-container">
                    <div ng-if="question_no != '[]'">
                        <p>Questions not answered: {{question_no.length}}</p>
                        <div class="row">
                            <div class="col">
                                <div ng-repeat="question in question_no" class="padding" style="display:inline-block;">
                                    <button class="button button-assertive" ng-click="unattemptedquestion(question)" style="border-radius:50%">Q.{{question}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="question_no == []">
                        <p>You Have Answered All Question.</p>
                    </div>
                    <button class="button button-block button-positive" ng-click="final_submission()">
                        Submit Now
                    </button>
                    <button class="button button-block button-positive"  ng-click="save_resume(true,'')">
                        Save And Exit
                    </button>
                    <button class="button button-block button-positive" ng-click="previous('submitconfirmation')">
                        Back To Quiz
                    </button>
                    <div class="list">
                        <div class="item row">
                            <div class="col center">
                                <h4>Submit Before:</h4><p>{{assess_basic_details.end_date}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </ion-content>
            </div>
        </div>
        <div ng-if="failed != undefined">
            <ion-content class="app-bg">
                <div class="card">
                    <div class="item item-divider">
                        InProgress Assessment
                    </div>
                    <div class="item item-text-wrap">
                        {{failed}}.
                    </div>
                </div>
                <!--<p>{{failed}}</p>-->
            </ion-content>
        </div>
    </div>
</ion-view>