<ion-view view-title="Register" hide-nav-bar="true">
  <ion-content class="app-bg">
        <div class="row row-center">
            <div class="text-center" style="width:100%">
                <img src="{{logo}}" alt="">
            </div>
        </div>
        <form  name='registerForm' novalidate="" ng-submit="signUp(registerForm)">
        <div class="list list-inset">
              <label class="item item-input" ng-class="{'has-error':(registerForm.firstname.$invalid && !registerForm.firstname.$pristine) || (registerForm.firstname.$invalid && registerForm.$submitted)}">
                <input  type="text" placeholder="First name" required  ng-model='register.firstname' name='firstname'>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Last name" ng-model='register.lastname' name='lastname'>
              </label>
              <label class="item item-input" ng-class="{'has-error':(registerForm.username.$invalid && !registerForm.username.$pristine) || (registerForm.username.$invalid && registerForm.$submitted)}">
                <input type="email" placeholder="Email as username" required="required" ng-model='register.username' name='username'>
              </label>
              <label class="item item-input" ng-class="{'has-error':(registerForm.password.$invalid && !registerForm.password.$pristine) || (registerForm.password.$invalid && registerForm.$submitted)}">
                <input type="password" placeholder="Password" required="required" ng-model="register.password" name='password' ng-minlength="6">
              </label>
              <label ng-show="error_msg != ''" style="color:rgb(189, 63, 66)">{{error_msg}}</label>
              <button type='submit' class="button button-block button-calm">Register</button>
            
         </form>     
              <div class="text-center">
                <a class="color-calm" href='#login'>Existing User? Sign in </a>
              </div>
              <hr style="color:#ccc">
              <button class="button button-block icon-left ion-social-facebook button-positive" ng-click="social_login('/login/facebook/?next=social-register-enroll-mobile_cid=0_ctype=0_next-tab=/lms/myhome/_error-url=/lms/')">Sign up with Facebook</button>
              <button class="button button-block icon-left ion-social-googleplus button-assertive" ng-click="social_login('/login/google-oauth2/?next=social-register-enroll-mobile_cid=1_ctype=1_next-tab=/lms/myhome/_error-url=/lms/')">Sign up with Google+</button>    
        </div>
        
  </ion-content>
</ion-view>




